/* ACTORS QUIZ */

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.actor-container {
  flex-direction: column;
}

.answers {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
}

.answers > li {
  padding: 10px;
  text-align: left;
  margin: 10px;
  background-color: var(--black);
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}

.answers > li:hover {
  background-color: var(--yellow);
  color: var(--black);
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: block;
  padding: 4px 12px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--white);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  background-color: var(--black);
  background-repeat: repeat-x;
  border: var(--yellow);
  border-color: var(--yellow);
  border-bottom-color: var(--yellow);
}

input[type='radio']:checked + label {
  background-image: none;
  color: var(--black);
  outline: 0;
  background-color: var(--yellow);
}

.content-container > h2 {
  font-size: 2.5rem;
}

.content-container > button {
  font-size: 1rem;
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}

.content-container > button:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.actor-image > img {
  width: 500px;
  max-height: 500px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* MEDIA  */
@media screen and (max-width: 1225px) {
  .quiz-container {
    width: 95%;
  }

  .actor-image > img {
    width: 430px;
    max-height: 430px;
    border-radius: 10px;
  }

  .timer-box > img {
    width: 150px;
    max-height: 150px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 780px) {
  .quiz-container {
    flex-direction: column;
  }

  .actor-image > img {
    margin-top: 10px;
    width: 240px;
    max-height: 240px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }

  .timer-box > img {
    width: 130px;
    max-height: 130px;
    border-radius: 10px;
  }

  .content-container > h2 {
    font-size: 2rem;
  }

  .answers > li {
    margin: 5px;
  }

  input[type='radio'] + label {
    font-size: 1rem;
    padding: 2px 12px;
    margin-bottom: 0px;
  }

  .content-container > h2 {
    font-size: 1.5rem;
  }
}
