/* ACTORS QUIZ */

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80vh;
}

.movieFrameDiv {
  flex-direction: column;
}

.answers {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
}

.answers > li {
  padding: 10px;
  text-align: left;
  margin: 10px;
  background-color: #000000;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: #ffd600;
  border: 2px solid #ffd600;
  cursor: pointer;
}

.answers > li:hover {
  background-color: #ffd600;
  color: black;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: block;
  padding: 4px 12px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  line-height: 20px;
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  background-repeat: repeat-x;
  border: #ffd600;
  border-color: #ffd600;
  border-bottom-color: #ffd600;
}

input[type='radio']:checked + label {
  background-image: none;
  color: black;
  outline: 0;
  background-color: #ffd600;
}

.content-container > h2 {
  font-size: 2.5rem;
}

.content-container > button {
  font-size: 1rem;
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: #ffd600;
  border: 2px solid #ffd600;
  cursor: pointer;
}

.content-container > button:hover {
  background-color: #ffd600;
  color: black;
}

.movieFrameBox > img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin-left: 3rem;
}

.timer-box > img {
  width: 239.4px;
  height: 180px;
  border-radius: 10px;
  margin-top: 1rem;
}

/* MEDIA  */
@media screen and (max-width: 1225px) {
  .quiz-container {
    width: 95%;
  }

  .movieFrameBox > img {
    width: 430px;
    height: 430px;
    border-radius: 10px;
  }

  .timer-box > img {
    width: 199.5px;
    height: 150px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 780px) {
  .quiz-container {
    flex-direction: column;
  }

  .movieFrameDiv {
    display: flex;
    flex-direction: row;
  }

  .movieFrameBox > img {
    width: 240px;
    height: 240px;
    margin-left: 0;
  }

  .timer-box {
    display: flex;
    align-items: end;
    margin-left: 1rem;
  }

  .timer-box > img {
    width: 106px;
    height: 80px;
  }

  .content-container > h2 {
    font-size: 1.7rem;
  }

  .answers > li {
    margin: 5px;
  }

  input[type='radio'] + label {
    font-size: 1rem;
  }
}
