/* Soundtrack Quiz */

.play-button {
  display: block;
  align-self: center;
}

.play-button > button {
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  background-color: var(--black);
  box-shadow: 0 2px var(--black);
}

.play-button:active {
  box-shadow: 0 2px var(--black);
  transform: translateY(2px);
}

.play-button > button:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.soundtracks-question-elements {
  margin: 10rem;
  padding: 2rem;
  border: 2px solid var(--yellow);
  border-radius: 15px;
}

.soundtracks-question-elements > h4 {
  font-size: 1.5rem;
}

.timer-box.soundtracks > img {
  width: 133px;
  height: 100px;
}

/* MEDIA  QUERIES */
@media screen and (max-width: 1220px) {
  .soundtracks-question-elements {
    margin: 5rem;
  }
}

@media screen and (max-width: 960px) {
  .soundtracks-question-elements {
    margin: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 780px) {
  .media-container {
    display: flex;
    justify-content: center;
  }
  .soundtracks-question-elements > h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .timer-box.soundtracks > img {
    width: 119px;
    height: 90px;
  }
}
