/* Soundtrack Quiz */

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  max-width: 70%;
}

.quiz-container > button {
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}

#answerbuttons li {
  text-align: left;
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}

input[type='radio'] + label {
  display: block;
  padding: 4px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--black);
  background-repeat: repeat-x;
  border: var(--yellow);
  border-color: var(--yellow);
  border-bottom-color: var(--yellow);
}

input[type='radio']:checked + label {
  background-image: none;
  color: var(--black);
  outline: 0;
  background-color: var(--yellow);
}

ul {
  list-style-type: none;
}

#answerbuttons li:hover {
  background-color: var(--yellow);
  color: var(--black);
}

#answer-button:hover {
  background-color: var(--yellow);
  color: var(--black);
}

#a-text:checked {
  background-color: rgb(10, 207, 53);
  color: rgb(6, 192, 53);
}

#submit {
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  background-color: var(--black);
  box-shadow: 0 2px var(--black);
}

#submit:active {
  box-shadow: 0 2px var(--black);
  transform: translateY(2px);
}

#submit:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.media-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
} */

.play-button {
  display: block;
  align-self: center;
}

.play-button > button {
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  background-color: var(--black);
  box-shadow: 0 2px var(--black);
}

.play-button:active {
  box-shadow: 0 2px var(--black);
  transform: translateY(2px);
}

.play-button > button:hover {
  background-color: var(--yellow);
  color: var(--black);
}
