@import './normalize.css';
@import './actors.css';
@import './quizResult.css';

:root {
  --black: #131515;
  --white: #fffafb;
  --yellow: #ffd600;
}

body {
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--white);
}

/* NAVIGATION BAR */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--yellow);
  color: var(--yellow);
  padding: 10px;
}

a {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  color: var(--white);
}

.navigation-list > li > a:hover {
  color: var(--yellow);
  text-decoration: underline;
  transition: 0.2s;
}

.logo {
  list-style-type: none;
}

.logo-link > a {
  color: var(--yellow);
  font-weight: 600;
  font-size: 2rem;
}

.logo-link > a:hover {
  text-shadow: 0.1em 0.1em 1.5em var(--yellow);
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--yellow);
  margin: 5px;
  transition: all 0.3s ease;
}

/* MEDIA FOR NAV BAR */

@media screen and (max-width: 780px) {
  body {
    overflow-x: hidden;
  }
  .navigation-list {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navigation-list li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.navigation-list-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* MAIN CONTENT */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  max-width: 70%;
}

.text-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--yellow);
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.buttons-container > button {
  margin: 10px;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  cursor: pointer;
}
