@import './reset.css';
@import './header.css';
@import './homepage.css';
@import './actors.css';
@import './quizResult.css';
@import './movieFrameStyling.css';
@import './decorators.css';

body {
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
}

.header-wrapper {
  max-width: 1440px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.wrapper {
  max-width: 976px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* NAVIGATION BAR */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  border-bottom: 2px solid #ffd600;
  color: #ffd600;
  padding-left: 31px;
  padding-right: 53px;
}

/* MEDIA FOR NAV BAR */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

.navigation-list-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* MAIN CONTENT */

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ffd600;
}

.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.buttons-container > a {
  margin: 10px;
}

.button {
  display: inline-block;
  appearance: none;
  font-size: 24px;
  line-height: 24px;
  background-color: transparent;
  text-decoration: none;
  color: #ffd600;
  border: 2px solid #ffd600;
  border-radius: 15px;
  cursor: pointer;
  padding: 22px 26px;
}

.button:hover {
  text-decoration: underline;
}
